.jobs-container {
  background-color: #000000;
  padding-top: 20px;
}

.jobs-sections {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  max-width: 1110px;
  padding-bottom: 25px;
}